<%= form_for @user, html: {class: ""} do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role, autofocus: true, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :Submit %><br />
    <%= f.submit "submit" %>
  </div>

<% end %><br />
<%= link_to "Back", users_path %>
